@font-face {
    font-family: 'Inter';
    src: url('../../fonts/Inter-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Inter';
    src: url('../../fonts/Inter-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'TenorSans';
    src: url('../../fonts/TenorSans-Regular.ttf') format('truetype');
    font-style: normal;
}

@font-face {
    font-family: 'TTNorms';
    src: url('../../fonts/TTNorms-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'TTNorms';
    src: url('../../fonts/TTNorms-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: 'TTNorms';
    src: url('../../fonts/TTNorms-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'TTNorms';
    src: url('../../fonts/TTNorms-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'TTNorms';
    src: url('../../fonts/TTNorms-Italic.ttf') format('truetype');
    font-style: italic;
}
@font-face {
    font-family: 'TTNorms';
    src: url('../../fonts/TTNorms-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}