.advantages {
    background: #F9F9F9;
    padding-top: 100px;
}

.advantages-inner {
    .timeOfBusines-btn {
    margin: 0 auto;
    }
}

.advantages__title {
    color: #000;
    font-family: $TenorSans;
    font-size: 44px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
}

.advantages__text {
    color: #34343F;
    font-family: $TTNorms;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    margin: 20px 0 40px;
    width: 900px;
}

.advantages-block {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.advantage__item {
    display: flex;
    padding: 30px 10px 32px 30px;
    gap: 25px;
    height: 180px;

    border-radius: 16px;
    background: #F2F2F2;
}

.advantage__pict {
    aspect-ratio: 1/1;
    width: 48px;
    height: 48px;
}

.advantage__content {}

.advantage__title {
    color: #34343F;
    font-family: $TenorSans;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    margin-bottom: 20px;
}

.advantage__text {
    color: #34343F;
    font-family: $TTNorms;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 120%;
}

