.header {}

.header-inner {}

.header-row {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 27px 0 0;
	border-bottom: thin solid #dddfe0;
}

.logo {}

.menu-header {}




.phone-header {
	color: #000;
	font-family: $TTNorms;
	font-size: 22px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	letter-spacing: -1.015px;
}