.reviews {padding-top: 100px}

.reviews-inner {
    
}

.reviews__title {
    strong{
        color: #000;
    }
    color: #34343F;
    font-family: $TenorSans;
    font-size: 44px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    /* 52.8px */
}

.reviews-carousel {
    margin-top: 40px;
    position: relative;
    overflow: hidden;
}